#networkChart {
	position:relative;
	width:100%;
}

#networkChart svg {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: visible;
}

#networkChart svg text {
  pointer-events: none;
}

#tooltip {
  font-size: 14pt;
  font-family: 'Oswald', serif;
  text-anchor: middle;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}