doctype html
html
  head
    title Untangling the Hairball
    link(rel="stylesheet", href="css/reveal.css")
    link(rel="stylesheet", href="css/theme/white.css")
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="css/scrollable.css")
    link(rel="stylesheet", href="css/scrollableHairball.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Oswald|Quattrocento")

    meta(charset='utf-8')
    meta(name='author', content='John Alexis Guerra Gomez')
    meta(name='description', content="Untangling the Hairball, John Alexis Guerra Gómezs openvis 2017 talk")
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")

    style.
      .reveal h1,
      .reveal h2,
      .reveal h3,
      .reveal h4 {
        font-family: 'Oswald', serif;
      }
      .reveal {

        font-family: 'Quattrocento', sans-serif;
      }
  body

    div.reveal
      div.slides

        div.scrollable.scrollable-hairball
          div#networkChartHair

        div.scrollable.scrollable-tips
          div#networkChartTips

        section
          section
            h1 Untangling the Hairball

            h4.small
              a(href='http://johnguerra.co/', target='_blank') #[strong John Alexis Guerra Gómez]
              br
              small
                span.tiny
                  a(href='http://twitter.com/duto_guerra' , target='_blank')  @duto_guerra

            p.tiny
              a(href='http://johnguerra.co/slides/untanglingTheHairball', target='_blank') http://johnguerra.co/slides/untanglingTheHairball

            div.left.logo
              a(href="http://www.uniandes.edu.co/")
                img.logo(src="images/universidad_de_los_andes_logo@2x.png" alt="Los Andes University")
            div.right.logo
              a(href="https://datascience.berkeley.edu/")
                img.logo(src="images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")


          section(data-background-image="images/uniandes_monserrate.jpg" )
            h3.fragment(style="color:white") It's Colombia not Columbia


        section

          section
            h2 I had a network

          section
            h2 Well, actually

          section
            h2 I had a question

          section
            h2 OpenVis 2014, 2015
            ul
              li.fragment Couldn't come
              li.fragment so I followed online

          section
            h2 Realizations:
            ul
              li.fragment I need to go!
              li.fragment Twitter is OpenVis backchannel
              li.fragment Am I getting it all?

          section
            h3 Who should I be following to get the best out of OpenVis' Twitter discussions?

          section
            h3 Well, you could follow all the people that mentions #OpenvisConf
            ul
              li.fragment 3000+ Tweets
              li.fragment 784 Accounts

            //- p TODO: show the list

          section
            h3 What about the interesting people that didn't talk #OpenvisConf during the conference?

          section
            h3 mbostock
              img.circle.miniheadshot(src="images/mbostock.jpg" alt="mbostock twitter photo")
            p.fragment He didn't tweet during OpenVis 2016
            a(href="https://media.giphy.com/media/Ob7p7lDT99cd2/giphy.gif")
              img.fragment(src="https://media.giphy.com/media/Ob7p7lDT99cd2/giphy.gif" alt="Shame game of thrones")
            p.fragment What? were you busy doing d3v4? d3.express?

          section
            h3 mbostock
              img.circle.miniheadshot(src="images/mbostock.jpg" alt="mbostock twitter photo")
            p.fragment ¡Gracias viejo!
            a(href="https://media.giphy.com/media/gicr2SYcEBbNu/giphy.gif")
              img.fragment(src="https://media.giphy.com/media/gicr2SYcEBbNu/giphy.gif" alt="Shakira gracias")
            p.fragment I should be following him

          section
            h3 What about only the people followed the most by the people that talk #OpenVisConf?

          section
            h3 Let's find the accounts that you (#openVisConf community) follows the most
            img.fragment(src="https://38.media.tumblr.com/c3d426403af57e56a1425001a8c872d1/tumblr_n7vxlt231f1tfdmh2o1_400.gif" width="500px" alt="Colombia's celebration gif")

          section
            img(src="images/OpenVisConf_mostfollowed.png" alt="OpenVisConf most followed")



          section
            h2 Let's visualize it!
            ul
              li.fragment D3!
              li.fragment Networks!


          //- section
          //-   h2 Prayed to Saint Bostock


          section.scroll(scrollable="hairball" step="allGraph")
            h3 State of the art netviz
            //- p.fragment hairball
            a(href="https://media.giphy.com/media/fPxvPxZLSUB3O/giphy.gif")
              img.fragment(src="https://media.giphy.com/media/fPxvPxZLSUB3O/giphy.gif", alt="Hairball spewing a cat")

          section.scroll(scrollable="hairball" step="onlyCommunity")
            h3 Filter 300!
            a(href="https://media.giphy.com/media/3o7TKpFpiw0XhgdPVK/giphy.gif")
              img.fragment(src="https://media.giphy.com/media/3o7TKpFpiw0XhgdPVK/giphy.gif", alt="Cat coughing")

          section.scroll(scrollable="hairball" step="top300")
            h3 Only influentials!
            a(href="https://media.giphy.com/media/UKnFvHUzc629q/giphy.gif")
              img.fragment(src="https://media.giphy.com/media/UKnFvHUzc629q/giphy.gif", alt="Cat eating hair")

          section.scroll(scrollable="hairball" step="clusters")
            h3 Communities
            img.fragment(src="images/puss_in_boots_hairball.gif", alt="Puss in boots hairball")
            //- https://www.youtube.com/watch?v=6MTIwY3_-ks

          section.scroll(scrollable="hairball" step="clusters")
            h2 Back to my question!

          section.scroll(scrollable="hairball" step="fixedAxis")
            h4 Let's fix axis
            p Number of followers overall vs followers in #OpenVisConf

          section.scroll(scrollable="hairball" step="linksOnDemand")
            h4 Links on demand

          section.scroll(scrollable="hairball" step="addMoreNodes")
            h4 Add back more nodes

          section.scroll(scrollable="hairball" step="byCountOfTweets")
            h4 Number of tweets


        //- Section 2 Tasks
        section
          section
            h1 How to untangle the hairball?
            h2 Tasks!

          section(data-background-image="images/Ben_and_Catherine.jpg" )

          section
            p
              h3.fragment What are your tasks?
              h3.fragment What are your users?

            div.left
              a(href="https://www.cs.umd.edu/users/ben/index.html")
                img.circle.headshot(src="images/ben_pic_fp_cropped.jpg", alt="Ben Shneiderman's headshot")
                h4 Ben Shneiderman

            div.right
              a(href="http://hcil.umd.edu/catherine-plaisant/")
                img.circle.headshot(src="images/Catherine-photo-2017-croped-768x847.jpg", alt="Catherine Plaisant's headshot")
                h4 Catherine Plaisant



          section
            h2 Visualization Analysis and Design

            div.left
              div.center
                a(href="https://www.cs.ubc.ca/~tmm/vadbook/")
                  img.center(src="images/vadcover.med.png", alt="Visualization Analysis and Design's Book Cover")
              a.tiny(href="https://www.cs.ubc.ca/~tmm/vadbook/") https://www.cs.ubc.ca/~tmm/vadbook/
            div.right
              a(href="https://www.cs.ubc.ca/~tmm/")
                img.circle.headshot(src="images/munzner-2014-headshot-250.jpg", alt="Tamara Munzner's headshot")
                h4 Tamara Munzner



          section
            img(src="images/Tamaras_why.png")
            a.tiny(href="http://www.cs.ubc.ca/~tmm/talks.html#vad16act") http://www.cs.ubc.ca/~tmm/talks.html#vad16act

          section
            h2 NetViz tasks
            div.left.fragment
              div(style="height:500px; display:table-cell; vertical-align:middle;")
                img.center(style="margin:auto" src="images/overview_10k_nointer_cropped_just_network.png", alt="Overview style tasks")
              h4 Overview
            div.right.fragment
              div(style="height:500px; display:table-cell; vertical-align:middle;")
                img.center(style="margin:auto" src="images/ego_centric_view.png", alt="Query style tasks")
              h4 Query

          section.demo
            h2 Overview
            img(src="images/overview_10k_nointer_cropped_just_network.png")

          section.scroll(scrollable="tips" step="step0")
            h3 IEEEVIS Citation Network
            p All authors citations 2015

          section.scroll(scrollable="tips" step="filter")
            h3 Tip1. Filter
            p Display only the most important nodes for your task (a core)

          section.scroll(scrollable="tips" step="neighborhood")
            h3 Tip2 Select neighborhood
            p That core can be unconnected, so select also their neighborhood

          section.scroll(scrollable="tips" step="neighborhood")
            h3 Tip3 Communities
            p Use community detection

          section.scroll(scrollable="tips" step="doNetClustering")
            h3 Netclustering.js
            pre
              code.tiny(data-trim data-noescape).
                netClustering.cluster(nodes, links)

            a.micro(href="https://github.com/john-guerra/netClusteringJs") https://github.com/john-guerra/netClusteringJs

          section.scroll(scrollable="tips" step="forceInABoxTreemap")
            h3 Force in a box
            pre
              code.tiny(data-trim data-noescape).
                simulation = d3.forceSimulation(nodes)
                  .force("group", forceInABox()
                    .nodes(nodes)
                    .links(links)
                    .size(width,height)
                  .force("link", d3.forceLink().links(links)
                    .strength(forceInABox.linkStrength))

            p Distributes clusters on a treemap
            a.micro(href="https://github.com/john-guerra/forceInABox") https://github.com/john-guerra/forceInABox

          section.scroll(scrollable="tips" step="forceInABoxForce")
            h3 Force in a box
            p Distributes clusters using forces
            a.micro(href="https://github.com/john-guerra/forceInABox") https://github.com/john-guerra/forceInABox

          //- TODO: Show video of how it works

          section.scroll(scrollable="tips" step="navigateIntoCluster")
            h3 Tip4 Navigate into clusters


          section
            h3 Tip5 Use different layouts
            iframe.demo(src="http://blockbuilder.org/john-guerra/4db5024e00a82f10a2dc")

          section
            h1 Query

          section
            div.left
              ul
                li.fragment Tip6 Ego centric views
                li.fragment Tip7 Expand on demand
                li.fragment Tip8 Node pining

            div.right
              img(src="images/egodistance.gif", alt="Ego centric view demo")

          //- section.scroll(scrollable="tips" step="step6")
          //-   h3 Tip6 Ego centric views

          //- section.scroll(scrollable="tips" step="step7")
          //-   h3 Tip7 Expand on demand

          //- section.scroll(scrollable="tips" step="step8")
          //-   h3 Tip8 Node pining
          //- section.scroll(scrollable="tips" step="step9")
          //-   h3 Tip9 Filter on attributes

        section
          section(data-background-video="images/networkCube_transcoded_254.mp4")
            h2 Other network visualizations
            a(href="http://networkcube.net") http://networkcube.net
            table.bottom.networkCube(align="middle")
              tdata
                tr
                  td
                    a(href="http://www.aviz.fr/~fekete/")
                      img.circle.miniheadshot(src="images/jdFekete.jpg", alt="Jean Daniel Fekete's headshot")
                      span.micro Jean-Daniel Fekete
                  td
                    a(href="http://www.aviz.fr/~bbach/homepage/index-homepage.html")
                      img.circle.miniheadshot(src="images/BenBach.jpg", alt="Benjamin Bach's headshot")
                      span.micro Benjamin Bach
                  td
                    a(href="https://www.microsoft.com/en-us/research/people/nath/")
                      img.circle.miniheadshot(src="images/Nathalie.jpg", alt="Nathalie Riche's headshot")
                      span.micro Nathalie Henry Riche
                  td
                    a(href="http://www.bv.fapesp.br/en/pesquisador/171979/paola-tatiana-llerena-valdivia/")
                      img.circle.miniheadshot(src="images/networkCubePaola.jpg", alt="Paola Llerena Valdivia's headshot")
                      span.micro Paola Llerena Valdivia
                  td
                    a(href="http://perso.telecom-paristech.fr/~egiannisakis/")
                      img.circle.miniheadshot(src="images/networkCubeEmmanouil.jpg", alt="Emmanouil Giannisakis's headshot")
                      span.micro  Emmanouil Giannisakis



        section
          section
            h3.demo Thank you!
            div.left
              ul
                li Define your tasks
                li Filter
                li Overview or Query?
                li Beyond node-link
            div.right
              iframe(width="100%" height="700px" src="http://localhost:3000/")

          section
            h2 Postdoc
            p Come and work with us on cutting edge #[strong photo] visual analytics
            a(href="https://imagine.uniandes.edu.co/index.php?option=com_content&view=article&id=376&Itemid=1008&lang=en") More info here
          //- section(data-markdown)
          //-   script(type="text/template").
          //-     ## Take home message
          //-     Do your networks


    script(src="js/head.min.js")
    script(src="js/reveal.js")
    script(src="js/d3.v4.min.js")
    script(src="js/networkCanvasChart.js")
    script(src="js/netClustering.js")
    script(src="js/forceInABoxv4.js")
    script(src="js/ScrollableHairball.js")
    script(src="js/ScrollableTips.js")
    script(src="js/makeScrollable.js")

    script.
      Reveal.initialize({
        // Display controls in the bottom right corner
        controls: true,

        // Display a presentation progress bar
        progress: true,

        // Display the page number of the current slide
        slideNumber: false,

        // Push each slide change to the browser history
        history: true,

        // Enable keyboard shortcuts for navigation
        keyboard: true,

        // Enable the slide overview mode
        overview: true,

        // Vertical centering of slides
        center: true,

        // Enables touch navigation on devices with touch input
        touch: true,

        // Loop the presentation
        loop: false,

        // Change the presentation direction to be RTL
        rtl: false,

        // Randomizes the order of slides each time the presentation loads
        shuffle: false,

        // Turns fragments on and off globally
        fragments: true,

        // Flags if the presentation is running in an embedded mode,
        // i.e. contained within a limited portion of the screen
        embedded: false,

        // Flags if we should show a help overlay when the questionmark
        // key is pressed
        help: true,

        // Flags if speaker notes should be visible to all viewers
        showNotes: false,

        // Number of milliseconds between automatically proceeding to the
        // next slide, disabled when set to 0, this value can be overwritten
        // by using a data-autoslide attribute on your slides
        autoSlide: 0,

        // Stop auto-sliding after user input
        autoSlideStoppable: true,

        // Use this method for navigation when auto-sliding
        autoSlideMethod: Reveal.navigateNext,

        // Enable slide navigation via mouse wheel
        mouseWheel: false,

        // Hides the address bar on mobile devices
        hideAddressBar: true,

        // Opens links in an iframe preview overlay
        previewLinks: false,

        // Transition style
        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Transition speed
        transitionSpeed: 'default', // default/fast/slow

        // Transition style for full page slide backgrounds
        backgroundTransition: 'fade', // none/fade/slide/convex/concave/zoom

        // Number of slides away from the current that are visible
        viewDistance: 3,

        // Parallax background image
        parallaxBackgroundImage: '', // e.g. "'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg'"

        // Parallax background size
        parallaxBackgroundSize: '', // CSS syntax, e.g. "2100px 900px"

        // Number of pixels to move the parallax background per slide
        // - Calculated automatically unless specified
        // - Set to 0 to disable movement along an axis
        parallaxBackgroundHorizontal: null,
        parallaxBackgroundVertical: null,

        // Options which are passed into marked
        // See https://github.com/chjj/marked#options-1
        markdown: {
          smartypants: true
        },

        dependencies: [
          // Cross-browser shim that fully implements classList - https://github.com/eligrey/classList.js/
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },

          // Interpret Markdown in <section> elements
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },

          // Syntax highlight for <code> elements
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },

          // Zoom in and out with Alt+click
          { src: 'plugin/zoom-js/zoom.js', async: true },

          // Speaker notes
          { src: 'plugin/notes/notes.js', async: true },

          // MathJax
          { src: 'plugin/math/math.js', async: true }
        ],

      });

    //-
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-72531610-1', 'auto');
      ga('send', 'pageview');

